:root {
  --siteFont: PT Sans;
  --defaultTheme: dark;
  --codeFontFamily: Roboto Mono, Monaco, courier, monospace;
  --bodyFontSize: 17px;
  --accent: #42b983;
  --toogleBackground: #ffffff;
  --background: #091a28;
  --textColor: #b4b4b4;
  --codeTextColor: #ffffff;
  --codeBackgroundColor: #0e2233;
  --borderColor: #0d2538;
  --blockQuoteColour: #858585;
  --highlightColor: #d22778;
  --sidebarSublink: #b4b4b4;
  --codeTypeColor: #ffffff;
  --blockQuoteColor: #858585;
  --shadow: 5px 5px 5px rgba(255, 255, 255, 0.2);
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: var(--textColor);
  background: var(--background);
  height: 100%;
}

.app-container {
  text-align: center;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}

.light {
  --background: #ffffff;
  --textColor: #34495e;
  --codeBackgroundColor: #f8f8f8;
  --shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  --highlightColor: var(--textColor);
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
}

.zoom-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
}

.grid-inputs,
.output-controls,
.grid-controls {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.output-controls {
  justify-content: space-around;
}

.details-info-btn {
  padding: 0;
  transition: all ease 0.4s;
  position: relative;
  border: none;
  background: transparent;
  color: var(--textColor);
  font-size: 28px;
  padding: 4px 8px;
  padding-bottom: 0;
  outline: none;
}

.details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.details-list.closed {
  left: -450px;
}

.details-list {
  transition: all ease 0.4s;
  position: absolute;
  z-index: 3;
  left: 0px;
  top: 38px;
  padding: 16px;
  background: var(--codeBackgroundColor);
  color: var(--textColor);
  width: 300px;
  border-radius: 5px;
  box-shadow: var(--shadow);
  text-align: left;
  list-style: none;
  margin: 0;
  border: 1px solid var(--textColor);
}

.details-container__list-item {
  padding: 4px 0;
}

.canvas-container {
  position: relative;
  background: var(--codeTypeColor);
  margin: 0 auto;
  margin-bottom: 16px;
  border-radius: 4px;
}

.link {
  color: var(--textColor);
  font-size: 18px;
}

#canvas,
#image-canvas {
  left: 0px;
  top: 0px;
  position: absolute;
  margin-top: 10px;
}

#canvas {
  z-index: 10;
  background-color: transparent;
}

#image-canvas {
  z-index: 1;
  background-color: transparent;
}

.button-base {
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  text-transform: uppercase;
  background: var(--codeBackgroundColor);
  color: var(--textColor);
  border: 1px solid var(--highlightColor);
}
.button-base.active {
  background: var(--highlightColor);
  color: #ffffff;
}

.toggle-mode-button {
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  font-size: 28px;
  outline: none;
  color: var(--textColor);
}

label {
  text-transform: uppercase;
}
