html,
body {
  color: white;
  background: #242424;
}

.canvas-container {
  position: relative;
  background: white;
  margin-bottom: 16px;
  border-radius: 4px;
}

.link {
  color: white;
  font-size: 18px;
}

#canvas,
#image-canvas {
  left: 0px;
  top: 0px;
  position: absolute;
  margin-top: 10px;
}

#canvas {
  z-index: 10;
  background-color: transparent;
}

#image-canvas {
  z-index: 1;
  background-color: transparent;
}

button {
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  text-transform: uppercase;
}

label {
  text-transform: uppercase;
}
